h4 {
  font-size: 1.1em;
  color: black;
}
.message{
  color: black;
}
.line{
border-top: 2px dashed white;
}

#main{
display:flex;
float: left;
}

#login .one{
position: relative;
    top:10vh;
    width: 50vw;
    height: 80vh;
    left: -18vw;
}
.container {
    position: relative;
    top: 8vh;
    left: -20vw;
    overflow: hidden;
    width: 60vh;
    min-height: 55vh;
    box-shadow: 0 0 15px 5px rgb(31 73 125 / 80%);
    border-radius: 2vh;
    //background-color: #ff5500;
    background: -webkit-gradient(linear,right top,left, from(#b054a1), to(#6e9bdb)) fixed;
}