{% load static %}

h4 {
  font-size: 1.1em;
  color: black;
}
.message{
  color: black;
}
.line{
border: 3px rgba(3, 24, 46);
}
.container {
    position: relative;
    top: 20vh;
    left: -20vw;
    overflow: hidden;
    width: 50vh;
    height: 60vh;
    box-shadow: 0 0 15px 5px rgb(31 73 125 / 80%);
    border-radius: 2vh;
    background-color: #ff5500;
}
#main{
display:flex;
float: left;
}

#login .one{
position: relative;
    width: 50vw;
    height: 100vh;
    left: -18vw;
}

.page_name{
padding-top:10%;
}
