body{
              background-color: rgba(25, 55, 18, .3);
              background-portion:center;
              background-size:cover;
              font-family:sans-serif;
              margin-top:40px;
           }
div.label
{
   margin: 0;
   width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.container {
overflow: hidden;
max-width : 50%;
}
h1 {
  font-size: 2.1em;
color: black;
}
h2 {
  font-size: 1.5em;
color: black;
}