.container {
    position: relative;
    //top: 10vh;
    left: -5vw;
    overflow: hidden;
    float: left;
    //width: 60vh;
    width: 70%;
    min-height: 55vh;
    //box-shadow: 0 0 15px 5px rgb(31 73 125 / 80%);
    //border-radius: 2vh;
    //background-color: #ff5500;
    //background: -webkit-gradient(linear,right top,left, from(#b054a1), to(#6e9bdb)) fixed;
}

.nav-tabs{
}
.tab-pane{
    background-color: white;
    width : 90%;
    margin: 0 auto;
}
.nav-tabs-li{
margin : 2px 3px;
background : white;
}
.nav-tabs > li > a{
}
.nav-tabs > li > a:hover{
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{

}
