#moon {
    margin: 0 0;
    position: relative;
    bottom: -25vh;
    left: -49vw;
    z-index: 1;
}
.moon{
height:15%;
width:25%;
}
#w1{
position: absolute;
transform: scaleX(-1) rotate(90deg);
height: 132px;
top: 47%;
right: -17vw;
margin: 0;
z-index: 1
}
.container{
min-height:67px;
}

@media (min-height:615px)
{
#w1{
    height: 215px;
    top: 48%;
    right: -27vw
}
#moon{
bottom: -50vh;
}
}