.container {
    position: relative;
    //top: 10vh;
    left: -5vw;
    overflow: hidden;
    float: left;
    //width: 60vh;
    width: 70%;
    min-height: 55vh;
    //box-shadow: 0 0 15px 5px rgb(31 73 125 / 80%);
    //border-radius: 2vh;
    //background-color: #ff5500;
    //background: -webkit-gradient(linear,right top,left, from(#b054a1), to(#6e9bdb)) fixed;
}
div.myDiv {
position:relative;
top:0;
left:20vw;
text-align: left;
float: center;
width: 80%;
margin:0;
}