.container{
min-height:107vh;
}
.image {
    vertical-align: middle;
    border-style: none;
    width: 50%;
    box-shadow: 0 0 15px 5px rgb(163 161 153);
    margin: 10px 10px;
}
.image:hover{
transform: scale(1.02);
}
#moon {
    margin: 0 0;
    position: relative;
    bottom: -63vh;
    left: -50vw;
    z-index: 1;
}
.moon{
height:15%;
width:25%;
}
#w1{
position: absolute;
transform: scaleX(-1) rotate(90deg);
    height: 200px;
    top: 58%;
    right: -26vw;
margin: 0;
z-index: 1
}