<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="temp2.css">
    <title>temp2</title>
</head>

<body>
    <div id="contain">
        <div id="main">
            <div id="upper">
                <div class="clip">daa</div>
                <div class="clip2">
                    <h4>About</h4>
                </div>
                <h3>Lavkush Dinesh Gour</h3>
                <div id="detail">
                    <ul>
                        <li>lovkush.gour2001@gmail.om</li>
                        <li>16 no bus stop thergaon</li>
                        <li>8805033496</li>
                    </ul>
                </div>
            </div>
            <div id="lower">
                <div class="education">
                    <h4>Eductaion:-</h4>
                </div>
                <div class="work">
                    <h4>Work Experience:-</h4>
                </div>
                <div class="h"></div>
                <div id="skill">
                    <h5>
                        <pre><i class="fa-brands fa-accusoft"></i>  CSS</pre>
                    </h5>
                    <div class="skills">
                        <div class="skills_g1">
                            <pre> </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>