{% extends 'html/create_resume_base.html' %}
{% load static %}

{% block title %}
    create_resume
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/create_resume.css' %}">
{% endblock %}

{% block form %}
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="row">
                <h1>
                    ENTER PERSONAL DETAILS
                </h1>
            </div>
            <hr style="border: 2px dashed black;">
            <div class="row">
                <div class="col">
                    <h4 class="name">FIRST NAME</h4>
                    <input type="text" name="f_name" class="form-control" placeholder="First Name"
                           aria-label="division" autocomplete="off" required>
                </div>
                <div class="col">
                    <h4 class="name">LAST NAME</h4>
                    <input type="text" name="l_name" class="form-control" placeholder="Last Name"
                           aria-label="division" autocomplete="off" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">ADDRESS</h4>
                    <input type="text" name="address" class="form-control" placeholder="Address"
                               aria-label="division" autocomplete="off" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">CITY</h4>
                    <input type="text" name="city" class="form-control" placeholder="City"
                           aria-label="division" autocomplete="off" required>
                </div>
                <div class="col">
                    <h4 class="name">PIN CODE</h4>
                    <input type="text" name="pin" class="form-control" placeholder="Pin Code"
                           aria-label="division" autocomplete="off" required>
                </div>
                <div class="col">
                    <h4 class="name">COUNTRY</h4>
                    <input type="text" name="country" class="form-control" placeholder="Country"
                           aria-label="division" autocomplete="off" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">EMAIL ID</h4>
                    <input type="email" name="email" class="form-control" placeholder="Email"
                           aria-label="division" autocomplete="off" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">PHONE NUMBER</h4>
                    <input type="text" name="p_no" class="form-control" placeholder="Phone Number"
                           aria-label="division" autocomplete="off" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/create_resume.js' %}"></script>
{% endblock %}
