{% extends 'html/create_resume_base.html' %}
{% load static %}

{% block title %}
    create_resume
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/create_resume_personal_info.css' %}">
{% endblock %}

{% block form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="row">
                <h1>
                    ENTER PERSONAL DETAILS
                </h1>
                <p>Employers will use this information to contact you.</p>
            </div>
            <hr style="border: 2px dashed black;">
            <div class="row">
                <div class="col">
                    <h4 class="name">PROFILE IMAGE</h4>
                    <input type="file" name="image" accept="image/*"
                    {% if personal_info %} value="media/{{ personal_info.image }}"
                           src="media/{{ personal_info.image }}"
                           {% endif %}/>
                </div>
                {% if personal_info %}
                <div class="col">
                    {% if personal_info.image %}
                    <img src="media/{{ personal_info.image }}" style="width:100px">
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">FIRST NAME</h4>
                    <input type="text" name="first_name" class="form-control" placeholder="First Name"
                           aria-label="division" autocomplete="off"
                           {% if personal_info %} value="{{personal_info.first_name}}" {% endif %} required>
                </div>
                <div class="col">
                    <h4 class="name">LAST NAME</h4>
                    <input type="text" name="last_name" class="form-control" placeholder="Last Name"
                           aria-label="division" autocomplete="off"
                           {% if personal_info %} value="{{personal_info.last_name}}" {% endif %} required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">ADDRESS</h4>
                    <input type="text" name="address" class="form-control" placeholder="Address"
                               aria-label="division" autocomplete="off"
                           {% if personal_info %} value="{{personal_info.address}}" {% endif %} required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">CITY</h4>
                    <input type="text" name="city" class="form-control" placeholder="City"
                           aria-label="division" autocomplete="off"
                           {% if personal_info %} value="{{personal_info.city}}" {% endif %} required>
                </div>
                <div class="col">
                    <h4 class="name">PIN CODE</h4>
                    <input type="text" name="pin_code" class="form-control" placeholder="Pin Code"
                           aria-label="division" autocomplete="off" maxlength="6"  minlength="6"
                           {% if personal_info %} value="{{personal_info.pin_code}}" {% endif %} required>
                </div>
                <div class="col">
                    <h4 class="name">COUNTRY</h4>
                    <input type="text" name="country" class="form-control" placeholder="Country"
                           aria-label="division" autocomplete="off"
                           {% if personal_info %} value="{{personal_info.country}}" {% endif %} required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">EMAIL ID</h4>
                    <input type="email" name="email" class="form-control" placeholder="Email"
                           aria-label="division" autocomplete="off"
                           {% if email %} value="{{email}}" {% endif %} required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h4 class="name">PHONE NUMBER</h4>
                    <input type="text" name="phone_number" class="form-control" placeholder="Phone Number"
                           aria-label="division" autocomplete="off" maxlength="10" minlength="10"
                           {% if personal_info %} value="{{personal_info.phone_number}}" {% endif %} required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">SUMMARY</label>
                      <textarea class="form-control rounded-0" name="summary"
                                id="exampleFormControlTextarea1" rows="10">
                          {% if personal_info %}{{personal_info.summary}}{% endif %}
                      </textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save and Next</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </form>
{% endblock %}

{% block script %}
{% endblock %}
