{% extends 'html/base_l.html' %}

{% load static %}

{% block title %}
Forgot Password
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}"/>
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <h4 class="name">EMAIL.</h4>
                <input type="text" name="email" class="form-control" value="{{email}}"
                       aria-label="division" autocomplete="off" readonly="readonly" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h4 class="name">PASSWORD.</h4>
                <input type="password" name="pass1" class="form-control" placeholder="Password"
                       aria-label="division" autocomplete="off" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h4 class="name">PASSWORD CONFIRM.</h4>
                <input type="password" name="pass2" class="form-control" placeholder="Password Confirm"
                       aria-label="division" autocomplete="off" required>
            </div>
        </div>
        <hr class="line">
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</form>
{% endblock %}