{% extends 'html/base_l.html' %}

{% load static %}

{% block title %}
Sign out
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/logout.css' %}"/>
{% endblock %}

{% block form %}
<div id="main">
    <div id="login">
         <img class="one" src="{% static 'img/escaping.svg' %}">
    </div>

    <div id="container" class="container">
            <h1>You have been successfully logged out.</h1>
            <h2>Click <a href="{% url 'login' %}">here</a> to Sign In again</h2>
    </div>
</div>

{% endblock %}