{% extends 'html/base_l.html' %}

{% load static %}

{% block title %}
Register
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/register.css' %}"/>
{% endblock %}

{% block form %}
<div id="main">
    <div id="login">
        <img class="one" src="{% static 'img/hello.svg' %}">
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="row">
                <h1>
                    REGISTER
                </h1>
            </div>
            <hr style="border: 2px solid white;">
            <div class="row">
                <div class="col">
                    <h4 class="name">FIRST NAME</h4>
                    <input type="text" name="f_name" class="form-control" placeholder="First Name"
                           aria-label="division" autocomplete="off" required>
                </div>
                <div class="col">
                    <h4 class="name">LAST NAME</h4>
                    <input type="text" name="l_name" class="form-control" placeholder="Last Name"
                           aria-label="division" autocomplete="off" required>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col">
                    <h4 class="name">EMAIL ID</h4>
                    <input type="email" name="email" class="form-control" placeholder="Email"
                           aria-label="division" autocomplete="off" required>
                </div>
            </div>
            <hr class="line">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Generate dynamic link</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </form>
</div>

{% endblock %}