#main{
display:flex;
float: left;
}

#login .one{
position: relative;
    width: 28vw;
    height: 100vh;
    left: -11vw;
}
div.container {
    position: relative;
    top: 20vh;
    left: -10vw;
    overflow: hidden;
    width: 50vw;
    max-height: 55vh;
    box-shadow: 0 0 15px 5px rgb(31 73 125 / 80%);
    border-radius: 2vh;
    //background-color: #ff5500;
    background: -webkit-gradient(linear,right top,left, from(#b054a1), to(#6e9bdb)) fixed;
     display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 2.1em;
color: black;
}
h2 {
  font-size: 1.5em;
color: black;
}